<!DOCTYPE html>
            <html lang="en">
            
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Email Template</title>
                <link href="https://fonts.cdnfonts.com/css/graphik-trial" rel="stylesheet">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
                    rel="stylesheet">
            </head>
            
            <body>
                <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #fff;">
                    <style>
                        @import url('https://fonts.cdnfonts.com/css/graphik-trial');
                        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
                    </style>
                    <tr>
                        <td>
                            <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #fff;">
                                <tr>
                                    <td style="text-align: left; font-weight: 400; line-height: 21px; letter-spacing: -0.2px; color: #101928; font-family: 'Inter', 'Arial', sans-serif; width: 100%; background-color: #09420C; color: #fff; padding: 24px; font-size: 24px; font-weight: bold; margin-left: 0;"
                                        colspan="2">
                                        <img src="https://gosource.sfo3.cdn.digitaloceanspaces.com/Frame%201000002518.png" alt="">
                                    </td>
                                </tr>
                            </table>
                            <table
                                style="max-width: 600px; margin: 0 auto; background-color: #fff; padding-top: 40px; padding-right: 24px; padding-left: 24px;">
                                <tr>
                                    <td colspan="2" style="margin: 0 auto;">
                                        <img src="https://gosource.sfo3.cdn.digitaloceanspaces.com/Frame%201000002518.png" alt="Centered Image">
                                    </td>
                                </tr>
                            </table>
                            <table
                                style="max-width: 600px; margin: 0 auto; background-color: #fff; padding-top: 24px; padding-right: 24px; padding-left: 24px; padding-bottom: 40px;">
                                <tr>
                                    <td colspan="2"
                                        style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; font-family: 'Inter', 'Arial', sans-serif;">
                                        <b>Welcome to GoSource 💚</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; font-family: 'Inter', 'Arial', sans-serif;">
                                        Hi [BUSINESS],
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"
                                        style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; padding-top: 24px; font-family: 'Inter', 'Arial', sans-serif;">
                                        Welcome to your go-to spot for all food items. We're thrilled to offer you the very best in
                                        procuring
                                        your food items. Sign up and get your order in less than 24hours. <br> <br>
            
                                        Over the past several months, we've dedicated our efforts to developing a product aimed at
                                        enhancing the
                                        manual procurement of food items & ordering process. This product has been designed with the
                                        objective
                                        of streamlining the entire procurement workflow, spanning from order placement to delivery.
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; padding-top: 24px; font-family: 'Inter', 'Arial', sans-serif;">
                                        Best regards, <br>
                                        Team GoSource. 💚
                                    </td>
                                </tr>
                            </table>
                            <!-- footer -->
                            <table
                                style="max-width: 600px; margin: 0 auto; background-color: #fff; padding-top: 32px; padding-right: 24px; padding-left: 24px; padding-bottom: 32px; background-color: #F9FAFB; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px;">
                                <tr>
                                    <td colspan="2"
                                        style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; padding-bottom: 20px; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px;">
                                        Facing any problems? send a mail to <a style="color: #19B820;"
                                            href="mailto:admin@ipc-africa.com">admin@ipc-africa.com</a> or call 0906 182 7124
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"
                                        style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; padding-bottom: 20px; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px;">
                                        3D Dr. Adewale Oshin Street, Off Chief Collins Uchidiuno St, Lekki Phase 1 105102, Lekki,
                                        Lagos
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"
                                        style=" font-size: 16px; line-height: 21px; color: #101928; letter-spacing: -0.2px; padding-bottom: 20px; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px;">
                                        Copyright©2023 Independent purchasing company | All rights reserved.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"
                                            style="color: #19B820; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px; margin-right: 24px;">X</a>
                                        <a href="#"
                                            style="color: #19B820; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px; margin-right: 24px;">Linkedin</a>
                                        <a href="#"
                                            style="color: #19B820; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px; margin-right: 24px;">Instagram</a>
                                        <a href="#"
                                            style="color: #19B820; font-family: 'Inter', 'Arial', sans-serif; font-size: 14px;">Facebook</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </body>
            
            </html>